.input {
  &.checkbox > div {
    @apply justify-start items-baseline; 
  }
  
  &.checkbox label {
    @apply text-[1rem] normal-case select-none cursor-pointer;
  }

  &.checkbox input[type="checkbox"] {
    @apply border-2 w-5 h-5 transition-all duration-100 ease-in-out 
    flex outline-none justify-center items-center cursor-pointer appearance-none; 
  }

  &.checkbox input[type="checkbox"]:focus-visible {
    @apply outline-2 outline-solid outline-blue-300 outline-offset-1;
  }

  &.checkbox input[type="checkbox"]::before {
    @apply w-1.75 h-2.75 mb-0.5 border-b-2 border-r-2 rounded-br-sm content-['']
    rotate-45 origin-center scale-0 transform transition-transform duration-300 ease-in-out;
    border-color: var(--checkbox-check-color, currentColor);
  }

  &.checkbox input[type="checkbox"]:checked::before {
    @apply transform rotate-45 scale-100
  }

  /* Primary style (default) */
  &.checkbox input[type="checkbox"],
  &.checkbox.error input[type="checkbox"] {
    @apply border-2 
    hover:bg-checkbox-primary-bg hover:border-checkbox-primary-border checked:bg-checkbox-primary-checked
    dark:hover:bg-checkbox-primary-dark-bg dark:hover:border-checkbox-primary-dark-border dark:checked:bg-checkbox-primary-dark-checked dark:checked:hover:bg-checkbox-primary-dark-checked;
  }

  /* Secondary style */
  &.checkbox.secondary input,
  &.checkbox.secondary.error input {
    @apply border-2 hover:bg-checkbox-secondary-bg hover:border-checkbox-secondary-border checked:bg-checkbox-secondary-checked
    dark:hover:bg-checkbox-secondary-dark-bg dark:hover:border-checkbox-secondary-dark-border dark:checked:bg-checkbox-secondary-dark-checked dark:checked:hover:bg-checkbox-secondary-dark-checked;
  }

  /* Success style */
  &.checkbox.success input,
  &.checkbox.success.error input {
    @apply border-2 hover:bg-checkbox-success-bg hover:border-checkbox-success-border checked:bg-checkbox-success-checked
    dark:hover:bg-checkbox-success-dark-bg dark:hover:border-checkbox-success-dark-border dark:checked:bg-checkbox-success-dark-checked dark:checked:hover:bg-checkbox-success-dark-checked;
  }

  /* Danger style */
  &.checkbox.danger input,
  &.checkbox.danger.error input {
    @apply border-2 hover:bg-checkbox-danger-bg hover:border-checkbox-danger-border checked:bg-checkbox-danger-checked
    dark:hover:bg-checkbox-danger-dark-bg dark:hover:border-checkbox-danger-dark-border dark:checked:bg-checkbox-danger-dark-checked dark:checked:hover:bg-checkbox-danger-dark-checked;
  }
}