.input {
  @apply flex flex-col flex-1;

  & > div {
    @apply flex items-center gap-2;
  }
  
  & > div.vertical {
    @apply flex-col gap-0 items-stretch;
  }

  & input,
  & textarea,
  & select {
    @apply p-1 rounded-sm
    bg-input-bg border border-input-border 
    dark:bg-input-dark-bg dark:border-input-dark-border dark:text-body-dark-text;
  }
  & label {
    @apply text-sm uppercase 
    text-body-text 
    dark:text-body-dark-text;
  }

  /* ERROR STYLES */
  &.error input,
  &.error textarea,
  &.error select {
    @apply border border-error bg-error-bg 
    dark:border-error-dark-border dark:bg-error-dark-bg;
  }

  &.error.disabled input,
  &.error.disabled textarea,
  &.error.disabled select {
    @apply border border-err-disabled-border bg-err-disabled-bg text-err-disabled-text 
    dark:border-err-disabled-dark-border dark:bg-err-disabled-dark-bg dark:text-err-disabled-dark-text;
  }
  
  /* DISABLED STYLES */
  &.disabled input,
  &.disabled textarea,
  &.disabled select {
    @apply cursor-not-allowed
    bg-disabled-bg border-disabled-border text-disabled-text
    dark:bg-disabled-dark-bg dark:border-disabled-dark-border dark:text-disabled-dark-text;
  }
  &.disabled label {
    @apply cursor-not-allowed
    text-disabled-text
    dark:text-disabled-dark-text;
  }

}
